.BackButton{
    position: fixed;
    top:1vh;
    left:1vw;
    width: 100px;
    transition: 0.3s;
    z-index: 9999;
    mix-blend-mode: difference;
}

.iconz {
    color: var(--font-color);
    transition: 0.3s;
}

.iconz:hover {
    color: var(--aux-color);
}



.BackButton:hover{
    color:brown;
}